.my-skills{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 70vw;
    font-family: poppins;
    color: lightgray;
}
.programming p li{
    list-style-type: square;
    margin: .5rem 0;
}
.programming .knowledge{
   font-weight: 600;
}
.interests .knowledge{
    font-weight: 600;
 }
.interests p li{
    list-style-type: square;
    margin: .5rem 0;
}
@media screen and (max-width:460px){
    .my-skills{
        width: 80vw;
        margin: 0rem 1rem;
       
    }
  }