.main-complete-contact{
    min-height: 110vh;
    width: 100vw;
    background-color: rgb(142, 142, 143);
     display: grid;
     grid-template-columns: 1.4fr 2.6fr;
     padding: 5rem 0 0 0;
}
.main-complete-contact .left{
    min-height: 110vh;
    /* width: 35vw; */
    background-color: rgb(73, 73, 74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: -5rem 0 3rem 0;
}
.main-complete-contact .contactcontent{
    margin: -5rem 0;
}
.main-complete-contact .right{
    min-height: 100vh;
    /* width: 65vw; */
    background-color: rgb(142, 142, 143);
}
.main-complete-contact .right .test{
    padding: 5rem 0;
    min-width: 80%;
}
.right .test .testin, .testingseco{
   padding: .5rem 0% .5rem 2rem;
   font-size: 1rem;
   margin: 0 0 0 5rem;
   background-color: rgb(177, 177, 177);
   border-style: none;
}
.right .test .thesubject-s{
    padding: .5rem 80% .5rem 2rem;
    font-size: 1rem;
    margin: 0 0 0 5rem;
    background-color: rgb(177, 177, 177);
    border-style: none;

 }
 .right .test .themsgz-s{
    padding: .5rem 50% .5rem 2rem;
    font-size: 1rem;
    font-family: poppins;
    border-style: none;
    margin: 0 0 0 5rem;
    background-color: rgb(177, 177, 177);
 }
 .left .contactimg{
  width: 11rem;
  height: 11rem;
  
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
  border-color:  rgb(177, 177, 177);
  
 }
 .left .contactimg .main-contactimg{
    width: 100%;
    border-radius: 50%;
    margin: 0 0 -7.5rem 0;
    padding: .2rem;
   }
   .left .get-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: lightgray;
    font-family: poppins;
    margin: 3rem 0 2rem 0;
}
.socials{
  display: flex;
  gap: 2rem;
  margin: 4.5rem 0 0 0;
}
.socials .soc-img{
    width: 1.6rem;
    cursor: pointer;
}
.socials .soc-img .main-soc-img{
    width: 100%;
    filter: invert(84%) sepia(48%) saturate(1%)
    hue-rotate(354deg) brightness(95%)
     contrast(86%);
}
.contact-form-phone .socials{
    padding: 0rem 0rem 0 1rem;
}

.lists{
    display: none;
}



 @media screen and (max-width: 460px){
    .main-complete-contact{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 100vh;
        
    }
    .main-complete-contact .left{
      padding: 0rem 9% 0rem 9%;
      min-height: 200vh;
      margin: -10rem 0 0 0;
    }
    .main-complete-contact .right{
        padding: 0 5%;
        min-height: 70vh;
        width: 100vw;
      }
      .main-complete-contact .right .test{
        padding: 5rem 0;
        min-width: 100vw;
    }
      .right .test .testin, .testingseco{
      min-width: 100%;
     }
    .right .test .thesubject-s{
        width: 100%;
       
     }
     .right .test .themsgz-s{
        min-width: 100%;
     }

     .left .contactimg{
        width: 9rem;
        height: 9rem;  
        margin: 1rem 0 -2rem 0;
       }
       .left .contactimg .main-contactimg{
        width: 100%;
        border-radius: 50%;
        margin: 0 0 0rem 0;
        padding: 0
       }
       .main-complete-contact{
        min-height: 150vh;
    }
    .left .get-title{
        font-size: 1.5rem;
        font-weight: 600;
        color: lightgray;
        font-family: poppins;
        margin: 0rem 0 0 0;
    }
 }