.main-nav{
    position: fixed;
    z-index: 300;  
}

.nav {
  height: 18vh;
  background-color: rgb(32,32,32);
  color: rgb(204, 202, 202);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  z-index: 120;
}
.nav .mylogo{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav ul {
  margin: 0 15rem 0 0;
  display: none;
}
.nav .listz {
    display: flex;
    justify-content: space-around;
    list-style: none;
    min-width: 27rem;
    font-size: 1em;
    font-family: poppins;
  }
  .nav .listz hr {
  display: none;
  }
  .nav .listz a{
   text-decoration: none;
   color: lightgray;
    }
.nav ul .lists {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 20rem;

}

.move ul .lists li {
  list-style: none;
  margin: 0 .9rem;
  font-family: poppins;
  text-decoration: none;
  padding: 0 0 0 .8rem;
}
.lists li a{
    text-decoration: none;
    color: lightgray;
}
.nav ul .lists hr{
   display: none;
 }
.farbar {
    width: 50px;
    display: none;
}
.farbar div{
    border-style: none;
    border-width: 2px;
    border-color: white;
    width: 100%;
    margin: 5px 20px;
    background-color: white;
    height: 5px;
   
}
@media screen and (max-width:460px) {
    .main-nav{
     
    }
    .nav{
      overflow-x: hidden;
      justify-content: space-between;
      background-color:  rgb(204, 202, 202);
      max-width:460px;
      z-index: 200;
     
    }
    .nav ul {
        margin: 0 0rem 0 0;
        overflow-x: hidden;
       
      }
    .nav .ul{
        display: flex;
        flex-direction: column; 
        position: absolute;
        background-color: rgb(32,32,32);
        width: 70vw;
        height: 100vh;
        right: 0rem;
        top: 0rem;
        display: none;
        justify-content: center;
        z-index: 750; 
    
    }
    .nav .uls{
        display: flex;
        flex-direction: column;   
        position: absolute;
        background-color: rgb(32,32,32);
        width: 70vw;
        height: 100vh;
        right: 0rem;
        top: 0rem;
        display: none;
        justify-content: center;

    }
    ul .lists{
        display: flex;
        flex-direction: column; 
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        z-index: 1000;
        position: relative;
        justify-content: center;
        align-items: flex-start;
        text-decoration: none;
        background-color: rgb(32,32,32);
    }

    ul .lists hr{
       min-width: 100%;
       display: block;
       font-weight: 50;
       margin: .4rem 0;
       height: .5px;
       border-style: none;
       background-color: rgb(148, 147, 147);
    }
    .nav .mylogo{
        margin: 0 0 0 3rem;
        color: rgb(32,32,32);;
    }
    .nav .farbar{
        display: block;
        position:absolute;
        right: 3rem;
        z-index:700;
        border-bottom: rgb(32,32,32);
    }
    .lists li a{
        text-decoration: none;
        font-size: 1rem;
    }
    .nav .listz {
     display: none;
    }
    .move{
      position:absolute;
      right: 0;
      position: fixed;
      z-index: 500;
    }
    .move ul{
        display: flex;
        flex-direction: column; 
        width: 70vw;
        height: 100vh;
        right: 0;
        top: 0;
        z-index: 1000;
        display: none;
        position: relative;
        justify-content: center;
        align-items: flex-start;
        text-decoration: none;
        background-color: rgb(32,32,32);
      }
      .move .close{
      position: absolute;
      z-index: 1000;
      right: 2rem;
      top: 2rem;
      font-size: 1rem;
      color: white;
      border-style: solid;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      }
}