.header{
    min-height: 109vh;
    width: 100vw;
    background-color: #e5e3e3;
    display: flex;
    flex: 2, 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 6rem 0 0 0; */

    margin: 6rem 0 0 0;
}
.header-pix{
    height: 90vh;
    width: 60vw;
    margin: 1.4rem -3rem 0 3rem;
}
.head-pixel{
    height: 100%;
    width: 100%;
    margin: 2rem 0rem 0 0rem;
   
}
@media screen and (max-width:460px) {
    .header{
        flex-direction: column;
        height: 150vh;
        overflow-x: hidden;
    
    }
    .header-pix{
        height: 80vh;
        width: 90vw;
        margin: 2rem -2rem 0rem 0rem;
    }
    .head-pixel{
        height: 100%;
        width: 100%;
        margin: 0rem 0rem 0 0rem;
       
    }
  
}

