.header{
    width: 100vw;
    min-height: 104vh;
    background-color: #e5e3e3;
    display: flex;
    flex: 3 1;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}
.header-pix{
    min-height: 70vh;
    width: 60vw;
    margin: 7rem -3rem 0 3rem;
    padding: 0 0 -1rem 0;
}
.head-pixel{
    height: 100%;
    width: 100%;
    margin: 2rem 0rem 0 0rem;
   
}
@media screen and (max-width:460px) {
    .header{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        margin: 6rem 0 0rem 0;
    }
    .headcontent-bg{
       background-image: url("asset/header.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 132vh;  
        width: 100vw;
        height: 100%;
    }
    .head-cover{
        background-color: rgba(0, 0, 0, 0.534);
        width: 100%;
        height: 100%;
    }
    .header-pix{
        /* height: 70vh; */
        display: none;
        /* width: 80vw;
        display: flex;
        justify-content: center;
        align-items:  flex-end;
        margin: 3.2rem 0rem -2rem 0rem; */
    }
    .head-pixel{
        height: 70%;
        width: 100%;
        margin: 0rem 0rem 0rem 0rem;
       
    }
  
}

